/*
Theme Name: Oliver
Template: hf-foundation
Author: Fish @ Hunchfree
Author URI: oliver.hunchfree.com/
Description: Child Theme Styles for Oliver
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: hf_found
*/
	
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    height: 2.2rem;
    margin: 0 0 1.5rem;
    font-size: 1rem;
    color: #000000;
    
}

.footer {
    background-color: #1d1d1d;
    padding-top: 2rem;
}

.footer a {
    font-size: 1rem;
    color: #e8c320;
}

.footer a:hover {
    color: #b78e1b;
}

.footer-top {
    padding-bottom: 2rem;
}

.footer-bottom {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #fff;
}

.footer-bottom p {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: 2rem 0 0 0;
}

.footer h5 {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 1px solid;
    border-top: 1px solid;
    line-height: 2rem;
    padding: 0.5rem 0;
}

.footer ul {
    list-style-type: none;
    margin-left: 0;
}

.small-pad {
 padding: 3rem 0;
 }

	
/* -------------------------------------
------------ MOBILE MENU --------------
--------------------------------------*/

/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(251, 251, 251, 0.95);
    z-index: 10003;
    overflow: scroll;
}

/* Overlay closing cross */
.overlay .overlay-close {
    position: absolute;
    right: 30px;
    top: 30px;
    overflow: hidden;
    border: none;
    color: #1d1d1d;
    z-index: 10004;
}

/* Menu style */
.overlay nav {
	margin-left: auto;
	margin-right: auto;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 90%;
}

.overlay ul li {
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.overlay ul li.is-accordion-submenu-item {
    border-bottom: none;
    margin-left: 2rem;
}

.overlay ul li a {
    font-family: 'Oswald', sans-serif;
    color: #1d1d1d;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}

.overlay .is-accordion-submenu-item a {
    font-size: 1.2rem;
    border-bottom: none;
    }
    
.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #fbb728;
}

.overlay .menu > li > a:first-child {
    /* padding-right: 0rem; */
    padding: 0.7rem 1rem;
    }

.overlay .menu.nested {
    margin-left: 0rem;
    }

/* Effects */
.overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
    }

.overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    }

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}

#trigger-overlay {
    color: #252525;
    line-height: 100%;
    position: absolute;
    right: 1rem;
    padding-top: 1.5rem;
}

.is-accordion-submenu-parent > a::after {
    font-family: FontAwesome; 
    content: "\f067";
}

.is-accordion-submenu-parent[aria-expanded='true'] > a::after {
    font-family: FontAwesome; 
    content: "\f068";
    }

 
    
    /* ----------------------------------------------------------------- */


h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
    padding: 1rem 0;
    font-weight: 400;
}

p { 
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
}

.small-p {
	font-size: 1.2rem;
}

/* --- MENU STYLES --- */
.site-tabs {
	padding:0.5rem 0;
	}
	
.site-tabs img {
	padding-left: 0.75rem;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
	}
	
.site-tabs img:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 100;
    filter: alpha(opacity=100); /* For IE8 and earlier */
	}
	
.nav-sub {
	position: relative;
	z-index: 10005;
	}
	
.menu-sub {
    float: right;
    margin-top: 1rem;
    padding-right: 40px;
}

.menu-sub li {
    display: inline-block;
    padding: 0 1rem;
}

.menu-sub li a {
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.2rem 0.7rem;
}

.menu-sub li a:hover {
    color: #e9c320;
}

.menu-sub li a:active {
    color: #e9c320;
}

.menu-contact {
    border: 1.5px solid #000;
    padding: 0 6px;
}

ul.pvtdd li a {
    color: #333333;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

ul.pvtdd.white li a {
    color: #fefefe;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.oliver-nav ul.pvtdd li a:hover {
    color: #e8c320;
}

ul.pvtdd li a {
    color: #333333;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

ul.pvtdd.white li a {
    color: #fefefe;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
	font-size: 1.3rem;
}

.oliver-nav ul.pvtdd li a:hover {
    color: #bf8f2a;
}

.menu-contact-white {
    border: 1.5px solid #fefefe;
    padding: 0 6px;
    color: #fefefe !important;
}

.menu-contact-white:hover {
    border: 1.5px solid #bf8f2a;
    color: #bf8f2a !important;
}

.menu-contact-white {
    border: 1.5px solid #fefefe;
    padding: 0 6px;
    color: #fefefe !important;
}

.menu-contact-white:hover {
    border: 1.5px solid #e8c320;
    color: #e8c320 !important;
}

.logo {
    float: left;
    margin-top: 1rem;
    padding-left: 40px;
}

@media screen and (max-width: 1241px) {
.site-tabs {
    display: none !important;
	}
	
.nav-sub {
    display: none !important;
	}
}

@media screen and (min-width: 1242px) {
.mobile.nav {
    display: none !important;
	}
}



.mobile-logo {
    float: left;
    margin: 1rem 0;
}
.mobile-logo img {
    max-height: 50px;
}

.logo img {
    max-height: 75px;
}

.header {
    position: relative;
    padding: 10rem 0;
}

.contact-header {
    position: relative;
    padding: 8rem 0;
}

@media screen and (max-width: 1023px) {
h1 {
	font-size: 2.5rem;
	}
	
h2 {
	font-size: 2rem;
	}

.header {
    padding: 7rem 0;
	}
	
.contact-header {
    padding: 5rem 0;
	}
}

@media screen and (max-width: 560px) {
h1 {
	font-size: 2rem;
	}
	
h2 {
	font-size: 1.8rem;
	}
	
.header {
    padding: 5rem 0;
	}
	
.contact-header {
    padding: 3rem 0;
	}
	
.header h1 {
    font-size: 2rem;
	}
}

.top-content {
	position: relative;
	z-index: 1000;
	}

.concrete {
    background-image: url('assets/img/concrete-wall.png');
    
}

.grid-texture {
    background-image: url('/wp-content/uploads/2017/04/graphy-dark-1.png');
}

.black-bg {
	background-color: #1d1d1d;
    padding: 5rem 0;
    color: #fefefe;
}

.grey-bg {
	background-color: #585858;
    padding: 5rem 0;
    color: #fefefe;
}

.lite-grey-bg {
	background-color: #f1f1f1;
    padding: 5rem 0;
    color: #505050;
}

.lite-bg {
	background-color: #f9f9f9;
    padding: 5rem 0;
    color: #505050;
}

.products {
	background-color: #f1f1f1;
    padding: 3rem 0;
    color: #505050;
}

.white-bg {
	background-color: #fefefe;
	padding: 5rem 0;
    color: #505050;
}

.blue-bg {
	background-color: #0377c1;
	padding: 5rem 0;
    color: #505050;
}

.yellow-bg {
	background-color: #e8c320;
	padding: 5rem 0;
    color: #505050;
}

.red-bg {
	background-color: #b34e4e;
	padding: 5rem 0;
    color: #fefefe;
}

.black-text {
    color: #1d1d1d;
}

.grey-text {
    color: #585858;
}

.lite-grey-text {
    color: #f1f1f1;
}

.white-text {
    color: #fefefe;
}

.blue-text {
    color: #0377c1;
}

.yellow-text {
    color: #e8c320;
}

button.cta {
  font-family: 'Work Sans', sans-serif;
  border: none;
  background-color: #000000;
  border-radius: 5px;
  color: #fefefe;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 400;
  font-size: 1.5rem;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button.cta span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.8;
}

button.cta i {
  font-size: 21px;
  right: 22px;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-top: 0.5rem;
}

@media screen and (max-width: 1023px) {
button.cta {
	font-size: 1.2rem;
	}
	
button.cta i {
	padding-top: 0.25rem;
	}
}

button.cta:hover span,
button.cta.hover span {
  -webkit-transform: translate3d(-10px, 0px, 0px);
  transform: translate3d(-10px, 0px, 0px);
  opacity: 1;
  padding-right: 1rem;
}

button.cta:hover i,
button.cta.hover i {
  opacity: 0.8; 
}

button.cta:active span {
  -webkit-transform: translate3d(-14px, 0px, 0px);
  transform: translate3d(-14px, 0px, 0px);
}

button.cta:active i {
  right: 18px;
}

button.cta.blue {
  background-color: #0377c1;
}

button.cta.yellow {
  background-color: #e8c320;
}

button.cta.black {
  background-color: #1d1d1d;
}

button.cta.grey {
  background-color: #505050;
}

/* --- HOVER EFFECTS --- */
/* -- Kutzall/ Oliver -- */

/* Hover effect css */
.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 1rem 0;
    list-style: none;
    text-align: center;
    overflow: hidden;
}

/* Common style */
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    height: auto;
    background: #ffffff;
    text-align: center;
    cursor: pointer;
	max-height: 300px;
}

.grid figure img {
    position: relative;
    display: block;
    max-width: 100%;
    width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
    position: absolute;
    top: 40%;
    left: 0;
    color: #484c61;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
    position: absolute;
    bottom: -30px;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
    color: #fff;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
    background: #ffffff;
}

figure.effect-julia img {
    max-width: none;
    height: auto;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-julia figcaption {
    text-align: left;
    padding: 0;
}

figure.effect-julia h3 {
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: none;
    color: #000;
    text-align: center;
    padding: 2rem 0 0 0;
}

figure.effect-julia p {
    display: inline-block;
    margin: 0 0 0.25em;
    padding: 0.4em 1em;
    color: #ffffff;
    text-transform: none;
    font-weight: 500;
    font-size: 75%;
    width: 100%;
    text-align: center;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-360px,0,0);
    transform: translate3d(-400px,0,0);
}

figure.effect-julia p:first-child {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.effect-julia:hover {
    background: rgba(0, 0, 0, 0.7);
}

figure.effect-julia:hover img {
    opacity: 0.4;
    -webkit-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* Media queries */
@media screen and (max-width: 50em) {
    .content {
        padding: 0 10px;
        text-align: center;
    }
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .brands {
        margin-bottom: 1rem;
        padding: 0.5em 5px;
        font-size: 16px !important;
    }
}

hr {
    border-bottom: 2px solid #cacaca;
}

.kutzall-products {
    padding: 2rem 0;
}

.kutzall-products h2 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.kutzall-products h2:before, .kutzall-products h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a1';
    background-color: transparent;
    border: dashed 2px;
}

.kutzall-products h2:before {
    margin-left: -53%;
}

.kutzall-products h2:after {
    margin-left: 3%;
}

.kutzall-products h3 {
    font-size: 2rem;
    padding-top: 2rem;
    color: #000000;
}

.kutzall-products p {
    color: #000000;
    margin-bottom: 2rem;
}
	
/* --- OLIVER STYLES --- */

.oliver-interior {
    background: #0377c1;
    color: #fefefe;
    background-size: cover;
    background-repeat: no-repeat;
}

.oliver-head {
    background: url('/wp-content/uploads/2017/05/oliver-corp-head.jpg');
    color: #fefefe;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}


.down-arrow {
    position: absolute;
    top: 720px;
    width: 100%;
    padding-bottom: 3%;
    background-color: #fff;
}

.down-arrow:before, .down-arrow:after {
  content:'';
  position: absolute;
  bottom: 100%;
  width: 50%;
  padding-bottom:inherit;
  background-color: inherit;
}
.down-arrow:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(60deg);
  -webkit-transform: skewX(60deg);
  transform: skewX(60deg);
}
.down-arrow:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-60deg);
  -webkit-transform: skewX(-60deg);
  transform: skewX(-60deg);
}

.down-arrow-2 {
    position: relative;
}
.down-arrow-2:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #ffffff;
    border-width: 60px 100px 0 100px;
    margin-left: -100px;
}

.coat-tabs {
    padding: 2rem 7rem;
}

.accordion {
    border-bottom: 2px solid #1d1d1d;
}

.accordion-title {
    margin: 0;
    list-style-type: none;
    background: #1d1d1d;
    border-top: 2px solid #1d1d1d;
    border-left: 2px solid #1d1d1d;
    border-right: 2px solid #1d1d1d;
}

.accordion-title::before {
    content: '+';
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -0.5rem;
    color: #fefefe;
}

.accordion-title:hover, .accordion-title:focus {
    background-color: #5d5d5d;
}

.accordion-title > h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #fefefe;
    display: block;
    line-height: 1;
    font-size: 1rem;
    margin-bottom: 0rem;
    text-transform: uppercase;
}

.accordion-content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    background: #fefefe;
    transition: all 0.5s ease;
    border-left: 2px solid #1d1d1d;
    border-right: 2px solid #1d1d1d;
    border-top: 2px solid #1d1d1d;
    color: #1d1d1d;
}

.spec {
    padding-top: 1rem;
    border-bottom: 1px dotted #7b7b7b;
}

.home-hexagon {
    background: url('/wp-content/uploads/2017/03/Hexagon-Texture.jpg');
    background-size: contain;
}

.coating-specs {
    padding: 5rem 0;
}

.coating-specs h2 {    
	font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;}

.coating-specs p {
    font-size: 1.2rem;
}

#tabs-custom .tabs {
    background: #1d1d1d;
}

#tabs-custom .tabs-title {
    width: 25%;
    padding: 6px 6px 0;
    background: transparent;
}

#tabs-custom .tabs-title > a[aria-selected='true'] {
    background: #fff;
    color: #000;
}

#tabs-custom .tabs-title > a {
    font-family: 'Work Sans', sans-serif;
    color: #fefefe;
    display: block;
    padding: 1.25rem 1rem;
    line-height: 1;
    font-size: 1.6rem;
    border-right: none;
    font-weight: 400;
    text-transform: uppercase;
}

#tabs-custom .tabs-content {
    background: #fefefe;
    transition: all 0.5s ease;
    border: 6px solid #1d1d1d;
    border-top: 0;
}

#tabs-custom .tabs-content h3 {
    text-align: left;
    font-size: 1.5rem;
}

#tabs-custom .tabs-content p {
    font-size: 1.2rem;
    color: rgb(93, 93, 93);
}

#tabs-custom .tabs-panel {
    padding-top: 0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
}

#tabs-custom .spec {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    border-bottom: 3px dotted #cecece;
}

#tabs-custom .spec:last-child {
    border-bottom: none;
}

.tabs-title > a:hover {
    background: #fefefe;
    color: #1d1d1d !important;
}

@media (max-width: 1023px) {
    #tabs-custom .tabs-title > a {
        font-size: 1.2rem;
    }
    #tabs-custom .tabs-content h3 {
        font-size: 1.2rem;
    }
    #tabs-custom .tabs-content p {
        font-size: 1.2rem;
    }
    #tabs-custom .spec {
        padding-top: 1rem;
        padding-bottom: 0rem;
        padding-left: 0rem;
    }
}

.tabs {
    margin: 0;
    list-style-type: none;
    background: #fefefe;
    border: none;
}


/* --- KUTZALL STYLES --- */ 
.kutzall-head {
    background: url('/wp-content/uploads/2017/04/kutzall-head.jpg');
    color: #fefefe;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.kutzall-head:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(97, 97, 97, 0.65);
    z-index: 998;
}

.kutzall-head-2 {
    background: url('/wp-content/uploads/2017/04/kutzall-head-2.jpg');
    color: #fefefe;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.kutzall-head-2:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(97, 97, 97, 0.65);
    z-index: 998;
}

@media screen and (max-width: 1023px) {
.kutzall-head {
    background-position: 10% 0%;
	}
	
.kutzall-head-2 {
    background-position: 100% 60%;
	}
}

@media screen and (max-width: 560px) {
.kutzall-head {
    background-position: 40% 0%;
	}
	
.kutzall-head-2 {
    background-position: 40% 0%;
	}
}
  
label {
    color: #505050;
}

.kutzall-form {
	background: #1d1d1d;
	color: #fefefe;
	padding: 2rem 1rem;
	}
	
.kutzall-form label {
    color: #fefefe;
}

/* --- TIRE REPAIR --- */
.tire-repair-head {
    background: url('/wp-content/uploads/2017/04/rubberhog-tire-repair-head.jpg');
    color: #fefefe;
    background-size: cover;
    position: relative;
    background-position: 100% 40%;
}

.tire-repair-head:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(84, 84, 84, 0.7);
    z-index: 998;
}

.vane-wheel-head {
    background: url('/wp-content/uploads/2017/05/Vane-Wheel-1.jpg');
    color: #fefefe;
    background-size: cover;
    position: relative;
    background-position: 100% 40%;
}

.vane-wheel-head:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(97, 97, 97, 0.65);
    z-index: 998;
}

@media screen and (max-width: 1023px) {
.tire-repair-head {
    background-position: 100% 40%;
	}
}

@media screen and (max-width: 560px) {
.tire-repair-head {
    background-position: 100% 40%;
	}
}

.tire-repair-products-1 {
	background-image: url('/wp-content/uploads/2017/04/tire-repair-products-1.png');
	background-repeat: no-repeat;
	position: relative;
	color: #fefefe;
	background-position: 20% 100%;
	}
	
.tire-repair-products-1:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(103, 103, 103, 0.65);
    z-index: 998;
}

.tire-repair-products {
	background-image: url('/wp-content/uploads/2017/05/tire-repair-head-1.jpg');
	background-repeat: no-repeat;
	position: relative;
	color: #fefefe;
	background-position: 50% 50%;
	}
	
.tire-repair-products:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(150, 150, 150, 0.65);
    z-index: 998;
}

.tire-repair-products-2 {
	background-image: url('/wp-content/uploads/2017/05/tire-repair-head-4.jpg');
	background-repeat: no-repeat;
	position: relative;
	color: #fefefe;
	background-position: 20% 75%;
	}
	
.tire-repair-products-2:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(103, 103, 103, 0.65);
    z-index: 998;
}

.tire-repair-products-3 {
    background-image: url('/wp-content/uploads/2017/05/tire-repair-head-3.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-position: 50% 35%;
    color: #fefefe;
}
	
.tire-repair-products-3:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(103, 103, 103, 0.65);
    z-index: 998;
}

.tire-repair-products-4 {
	background-image: url('/wp-content/uploads/2017/05/tire-repair-head-2.jpg');
	background-repeat: no-repeat;
	position: relative;
	color: #fefefe;
	background-position: 20% 100%;
	}
	
.tire-repair-products-4:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(103, 103, 103, 0.65);
    z-index: 998;
}

.tire-repair-icons {
	padding: 2rem 0;
	}
	
.tire-repair-dist-head {
    background: #f1f1f1;
    color: #505050;
    background-size: cover;
    position: relative;
}

table {
    border: 2px solid black;
}

table thead {
    background: #000000;
    color: #ffffff;
}

table tbody tr:nth-child(even) {
    background-color: #fefefe;
}

table tbody th, table tbody td {
    padding: 0.5rem 0.625rem 0.625rem;
    border: 1px solid #ededed;
}

@media screen and (max-width: 639pxpx) {
.last-dist.column:last-child:not(:first-child), .last-dist.columns:last-child:not(:first-child)  {
    float: middle;
	}
}

.products-head {
    background: #585858;
    color: #fefefe;
    background-size: cover;
    background-repeat: no-repeat;
}

.callout table {
    border: 1px solid black;
}

.callout table thead {
    background: #585858;
    color: #fefefe;
}

.download-link {
    font-family: 'Work Sans', sans-serif;
    color: #fcb727;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.download-link:hover {
    color: #bf8f2a;
}

.download-link:after{ 
   content: '\f0da';
   font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   margin:0px 0px 0px 10px;
   text-decoration:none;
}  


/* --- ROLL GRINDING STYLES --- */

.roll-grinding-head {
    background: url('/wp-content/uploads/2017/04/rubberhog-grinding-wheel.jpg');
    color: #fefefe;
    background-size: cover;
    position: relative;
    background-position: 10% 100%;
}

.roll-grinding-head:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 998;
}

.roll-grinding-coatings-head {
    background: url('/wp-content/uploads/2017/04/coatings-header.jpg');
    color: #fefefe;
    background-size: cover;
    position: relative;
    background-position: 100% 100%;
}

.roll-grinding-coatings-head:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 998;
}

.roll-grinding-design-head {
    background: url('/wp-content/uploads/2017/04/design-center-head.jpg');
    background-size: cover;
    color: #fefefe;
    position: relative;
    background-position: 100% 75%;
}

.roll-grinding-design-head:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 998;
}

@media screen and (max-width: 1023px) {
.roll-grinding-head {
    background-position: 10% 40%;
	}
	
.roll-grinding-design-head {
    background-position: 10% 75%;
	}
}

@media screen and (max-width: 560px) {
.roll-grinding-head {
    background-position: 10% 40%;
	}
	
.roll-grinding-coatings-head {
    background-position: 100% 70%;
	}
}

.rg-accessories {
	padding-top: 3rem;
	}
	
.rg-form {
	background: #0377c1;
	color: #fefefe;
	padding: 2rem 1rem;
	}
	
.rg-form label {
	color: #fefefe;
	}
	
/* --- SHIELDZALL STYLES --- */


.shieldzall-head {
    background: url('/wp-content/uploads/2017/05/shieldzall-head.jpg');
    color: #fefefe;
    background-size: cover;
    position: relative;
    background-position: 100% 40%;
}

.shieldzall-head:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(191, 29, 38, 0.65);
    z-index: 998;
}

.shieldzall-contact {
    background: #b34e4e;
    color: #fefefe;
    background-size: cover;
    background-repeat: no-repeat;
}

.orbit-caption {
    color: #fefefe;
    background-color: rgba(179, 78, 78, 0.75);
    font-size: 3rem;
    text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
.orbit-caption {
    font-size: 2rem;
	}
}

@media screen and (max-width: 560px) {
.orbit-caption {
    font-size: 1.5rem;
	}
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left;
}


/***Style the unordered list with the class 'enlarge'***/
ul.enlarge {
list-style-type:none; /*remove the bullet point*/
margin-bottom: 0;
margin-left: 0;
}

ul.enlarge li {
    display: inherit;
    position: inherit;
    z-index: 0;
}
ul.enlarge span {
position: absolute; /*see support section for more info on positioning*/
display: none; /*moves the span off the page, effectively hidding it from view*/
}
ul.enlarge li:hover {
z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/ 
cursor:pointer; /*changes the cursor to a hand*/
}
/***We bring the large image back onto the page by reducing left from -9999px (set in step 2) to figures below***/ 
ul.enlarge li:hover span { /*positions the <span> when the <li> (which contains the thumbnail) is hovered*/  /*the distance from the bottom of the thumbnail to the top of the popup image*/
display: block; /*distance from the left of the thumbnail to the left of the popup image*/
width: 400px;
height: auto;
margin-top: -15rem;
margin-left: 5rem;
}

ul.enlarge span {
    padding: 10px;
    background: #e6e6e6;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
    -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
    box-shadow: 0 0 20px rgba(0,0,0, .75);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #000000;
    color: #4c4c4c;
    z-index: 1000;
}

.coarse-select .wpcf7-list-item {
	display: block;
}

td ul.enlarge img.thumb:hover {
	background: #4c4c4c;
	opacity: 0.5;
	}
	
	td ul.enlarge img.thumb:active {
	background: #4c4c4c;
	opacity: 0.5;
	}

.design-center-form {
	border: 2px solid #cacaca;
	padding: 1rem;
	}
	
textarea {
    height: 8rem !important;
}

.fa-circle {
	font-size: 0.8rem !important;
	}
	
.coarse-select .wpcf7-list-item {
    display: block;
    border-bottom: 1px solid #cacaca;
    padding-top: 0.5rem;
}

.coarse-select .wpcf7-list-item.last {
    display: block;
    border-bottom: none;
    padding-top: 0.5rem;
}

